// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.well {
    background-color: CECECE;
    border: 2px solid black;
     
}

.form-group {
    color: black;
}

h4 {
    font-size: 16px;
    text-align: center;
}

.jumbotron {
    border: 2px solid black;
}