// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-group {
    color: black;
}

p {
    color: #707070;
}

.btn-primary, .btn-success{
    background-color: #A5A1A1;
    color: black;
    border: 1px solid black;
}

